@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Lato', sans-serif;
}

/* PIE CHART */

#pieChart text {
	font-size: 16px;
	fill: #fff;
	font-weight: bold;
}

.title {
	fill: #000;
	font-weight: normal;
}

/* ANNUAL PERFORMANCE */

#annualPerformance {
	position: absolute;
	left: 475px;
	top: 8px;
}

.performance {
	font-size: 48px;
}

.performanceTitle {
	fill: #555;
}

/* LINE CHART */

#lineChart {
	position: absolute;
	left: 475px;
	top: 115px;
}

.domain {
	stroke: black;
	fill: none;
}
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/* BAR CHART */

#barChart {
	position: absolute;
	top: 470px;
}
