@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Lato', sans-serif;
}

/* PIE CHART */

text {
	font-size: 16px;
	fill: #fff;
	font-weight: bold;
}

.title {
	fill: #000;
	font-weight: normal;
}

/* ANNUAL PERFORMANCE */

#annualPerformance {
	position: absolute;
	left: 475px;
	top: 8px;
}

.performance {
	font-size: 48px;
}

.performanceTitle {
	fill: #555;
}

/* MONTHLY LINE CHART */

#monthlyLineChart {
	position: absolute;
	left: 475px;
	top: 200px;
}
