@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body {
	font-family: 'Lato', 'Open Sans', sans-serif;
}

/* PIE CHART */

#pieChart text {
	font-size: 16px;
	fill: #fff;
	font-weight: bold;
}

#pieChart .title {
	fill: #000;
	font-weight: normal;
}

/* ANNUAL PERFORMANCE */

#annualPerformance {
	position: absolute;
	left: 470px;
	top: 10px;
}

.performance {
	font-size: 32px;
	font-weight: 900;
}

.performanceTitle {
	fill: #555;
}

/* LINE CHART */

#lineChart {
	position: absolute;
	left: 430px;
	top: 80px;
}

.domain {
	stroke: black;
	fill: none;
}
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/* BAR CHART */

#barChart {
	position: absolute;
	top: 430px;
	font-size: 16px;
}

#barChart .breakdown {
	fill: #555;
	font-weight: bold;
	text-anchor: middle;
}
